@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

/****************************************************/

/* GENERAL RESET */

/****************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #222;
}

article,
section,
div,
footer,
header,
nav {
    display: block;
}

html {
    background-color: white;
}


/****************************************************/

/* TOP SECTION */

/****************************************************/


/* center section is 535x2+50gap=1120px */
/* some gridbox goodness */
body {
    display: grid;
    grid-template-columns: 1fr 535px 535px 1fr;
    grid-template-rows: 120px auto 130px;
    grid-gap: 50px;
    grid-template-areas:
        ". nav nav ."
        ". junk junk ."
        "footer footer footer footer";
}

/* use two flexboxes to adjust the top nav */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}

/* who?? and resume container */
.rightnav {
    width: 160px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* this affects who?? and resume */
a {
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    transform: translateY(1px);
    color: #aaa;
}

.logo {
    width: 175px;
    filter: drop-shadow(0px 3px 3px #aaa);
    animation: Kemerge 1s ease-in both;
}

/*logo emerges from white background when landing*/
@keyframes Kemerge {
    from {
        filter: drop-shadow(0px 0px 0px #fff);
    }

    to {
        filter: drop-shadow(0px 3px 3px #aaa);
    }
}


/*Glowing logo on hover, infinite alternative make it glows back and fourth forever, fiter:drop-shadow is specifically for this svg since box shadow and text shadow won't work*/
.logo:hover {
    animation: neonGlow 1s linear infinite alternate;
}

@keyframes neonGlow {
    0% {
        filter: drop-shadow(0px 5px 5px #ff316f);
    }

    25% {
        filter: drop-shadow(0px 5px 10px #c430ff);
    }

    50% {
        filter: drop-shadow(0px 5px 5px #00ddff);
    }

    75% {
        filter: drop-shadow(0px 5px 10px #00ff72);
    }

    100% {
        filter: drop-shadow(0px 5px 5px #ffc300);
    }
}

/****************************************************/

/* MIDDLE SECTION */

/****************************************************/

main{
    grid-area: junk;
}

img{
    max-width: 500px;
    }




/****************************************************/

/* BOTTOM SECTION */

/****************************************************/

footer {
    grid-area: footer;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.foot h1 {
    color: white;
    font-size: 32px;
}

.socialmedia {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*original color is black; invert*/
.insta,
.behance,
.linkedin {
    width: 33px;
    filter: invert(100%);
}

.behance {
    width: 45px;
}





/****************************************************/

/* RESPONSIVE */

/****************************************************/


/* Should work for 1280x800, I want my site to break at 1220px, if required I may change 1220 to 1280 */
@media only screen and (max-width: 1220px) {
    body {
        grid-template-columns: 1fr 44vw 44vw 1fr;
        grid-template-rows: 10vw auto 10.7vw;
        grid-gap: 4vw;
    }

    /* TOP SECTION */
    nav {
        padding: 5.7vw;
    }

    .rightnav {
        width: 13vw;
        font-size: 1.15vw;
    }

    .logo {
        width: 14.3vw;
        filter: drop-shadow(0px 1px 1px #aaa);
    }

    /* MIDDLE SECTION */


    /* from 2 to 1 column */
    .top,
    .bottom {
        display: block;
    }

    .bottom2 {
        padding-left: 0;
        margin-top: 100px;
    }


    /* BOTTOM SECTION */

    .foot h1 {
        font-size: 2.6vw;

    }

    .foot {
        width: 88.6vw;
    }

    .socialmedia {
        width: 16.4vw;
    }

    .insta,
    .behance,
    .linkedin {
        width: 2.7vw;
    }

    .behance {
        width: 3.7vw;
    }
}


/* Should work for 320x 568, I want my site to break at 480px, if required I may change 320 to 480 */
@media only screen and (max-width: 480px) {
    body {
        grid-template-columns: 1fr 44vw 44vw 1fr;
        grid-template-rows: 20vw auto 50vw;
        grid-gap: 4vw;
    }


    /* TOP SECTION */
    nav {
        padding: 5.7vw;
    }

    .rightnav {
        width: 13vw;
        height: 8vw;
        font-size: 3vw;
        flex-direction: column;
        align-items: flex-end;
    }

    .logo {
        width: 40vw;
        filter: drop-shadow(0px 1px 1px #aaa);
    }

    /* MIDDLE SECTION */
   main img{
        width: 400px;

    }

    /* BOTTOM SECTION */

    .foot h1 {
        font-size: 7vw;
    }

    .foot {
        width: 88.6vw;
        height: 22vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .socialmedia {
        width: 40vw;
    }

    .insta,
    .behance,
    .linkedin {
        width: 7vw;
    }

    .behance {
        width: 10vw;
    }

}



