@charset "UTF-8";
/****************************************************/

/* GENERAL RESET */

/****************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #222;
}

article,
section,
div,
footer,
header,
nav {
    display: block;
}

html {
    background-color: white;
}

/* some gridbox goodness */
img,
div,
h1 {
    place-self: center;
}

img:not(.insta):not(.behance):not(.linkedin):not(.logo):not(.tass) {
    border-radius: 20px;
    max-width: 70%;
}

p {
    width: 500px;
    font-weight: 500;
    color: #888;
}

h1:not(.email) {
    padding-bottom: 30px;
}

h2 {
    padding: 10px 0;
}

testing{
    background:red;

}
/****************************************************/

/* TOP SECTION */

/****************************************************/


/* center section is 535x2+50gap=1120px */
/* some gridbox goodness */
body {
    display: grid;
    grid-template-columns: 1fr 1fr 535px 535px 1fr 1fr;
    grid-template-rows: 120px repeat(14, auto) 130px;
    grid-row-gap: 200px;
    grid-column-gap: 20px;
    grid-template-areas:
        ". . nav nav . ."
        ". heroimage heroimage heroimage heroimage ."
        ". . bigtitle bigtitle . ."
        ". . intro intro . ."
        ". image2 image2 image2 image2 ."
        ". . problem problem . ."
        ". image3 image3 image3 image3 ."
        ". . solution solution . ."
        ". . ia ia . ."
        ". image4 image4 image4 image4 ."
        ". . wireframe wireframe . ."
        ". image5 image5 image5 image5 ."
        ". . styleguide styleguide . ."
        ". image6 image6 image6 image6 ."
        ". image7 image7 image7 image7 ."
        "footer  footer footer footer footer footer";
}

/* use two flexboxes to adjust the top nav */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}

/* who?? and resume container */
.rightnav {
    width: 160px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* this affects who?? and resume */
a {
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    transform: translateY(1px);
    color: #aaa;
}

.logo {
    width: 175px;
    filter: drop-shadow(0px 3px 3px #aaa);
    animation: Kemerge 1s ease-in both;
}

/*logo emerges from white background when landing*/
@keyframes Kemerge {
    from {
        filter: drop-shadow(0px 0px 0px #fff);
    }

    to {
        filter: drop-shadow(0px 3px 3px #aaa);
    }
}


/*Glowing logo on hover, infinite alternative make it glows back and fourth forever, fiter:drop-shadow is specifically for this svg since box shadow and text shadow won't work*/
.logo:hover {
    animation: neonGlow 1s linear infinite alternate;
}

@keyframes neonGlow {
    0% {
        filter: drop-shadow(0px 5px 5px #ff316f);
    }

    25% {
        filter: drop-shadow(0px 5px 10px #c430ff);
    }

    50% {
        filter: drop-shadow(0px 5px 5px #00ddff);
    }

    75% {
        filter: drop-shadow(0px 5px 10px #00ff72);
    }

    100% {
        filter: drop-shadow(0px 5px 5px #ffc300);
    }
}

/****************************************************/

/* MIDDLE SECTION */

/****************************************************/

.heroimage {
    grid-area: heroimage;
}

.bigtitle {
    grid-area: bigtitle;
    font-size: 90px;
}

/* Somehow this part conflicts with grid layout where it won't center */
.intro {
    grid-area: intro;
    display: flex;
    justify-content: space-around;
}

.intro aside {
    padding-left: 50px;
}

.image2 {
    grid-area: image2;
}

.problem {
    grid-area: problem;
}

.image3 {
    grid-area: image3;
}

.solution {
    grid-area: solution;
}

.ia {
    grid-area: ia;
}

.image4 {
    grid-area: image4;
}

.wireframe {
    grid-area: wireframe;
}

.image5 {
    grid-area: image5;
}

.styleguide {
    grid-area: styleguide;
}

.image6 {
    grid-area: image6;
}

.image7 {
    grid-area: image7;
}




/****************************************************/

/* BOTTOM SECTION */

/****************************************************/

footer {
    grid-area: footer;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.foot h1 {
    color: white;
    font-size: 32px;
}

.socialmedia {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*original color is black; invert*/
.insta,
.behance,
.linkedin {
    width: 33px;
    filter: invert(100%);
}

.behance {
    width: 45px;
}

/*creative go back to top button*/
.tassel {
    width: 20px;
    position: fixed;
    right: 3vw;
    top: 0vh;
    display: none;
}

.tassel div {
    position: relative;
}

/* adjustment to align the tassel with rope */
.tassel div img {
    position: absolute;
    left: 7px;
    top: -5px;
    cursor: pointer;
}

.rope {
    width: 6px;
    background-color: #ffa300;
    position: fixed;
    right: 3vw;
    top: 0vh;
    display: none;
}



/****************************************************/

/* RESPONSIVE */

/****************************************************/


/* Should work for 1280x800, I want my site to break at 1220px, if required I may change 1220 to 1280 */
@media only screen and (max-width: 1220px) {
    body {
        grid-template-columns: 1fr 1fr 44vw 44vw 1fr 1fr;
        grid-template-rows: 10vw repeat(14, auto) 10.7vw;
        grid-column-gap: 2vw;
    }

    .bigtitle {
        font-size: 60px;
    }

    .intro {
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .intro p {
        width: 400px;
    }

    .intro aside {
        padding-top: 40px;
    }

    p {
        width: 60vw;
    }

    h1:not(.email) {
        padding-bottom: 3vw;
    }

    h2 {
        padding: 1vw 0;
    }

    img:not(.insta):not(.behance):not(.linkedin):not(.logo):not(.tass) {
        border-radius: 20px;
        max-width: 90vw;
    }


    /* TOP SECTION */
    nav {
        padding: 5.7vw;
    }

    .rightnav {
        width: 13vw;
        font-size: 1.15vw;
    }

    .logo {
        width: 14.3vw;
        filter: drop-shadow(0px 1px 1px #aaa);
    }

    /* MIDDLE SECTION */


    /* from 2 to 1 column */
    .top,
    .bottom {
        display: block;
    }

    .bottom2 {
        padding-left: 0;
        margin-top: 100px;
    }


    /* BOTTOM SECTION */

    .foot h1 {
        font-size: 2.6vw;

    }

    .foot {
        width: 88.6vw;
    }

    .socialmedia {
        width: 16.4vw;
    }

    .insta,
    .behance,
    .linkedin {
        width: 2.7vw;
    }

    .behance {
        width: 3.7vw;
    }


    /*creative go back to top button*/
    .tassel {
        width: 20px;
        right: 3vw;
    }

    .tassel div img {
        left: 7px;
        top: -5px;
    }

    .rope {
        width: 6px;
        right: 3vw;
    }

}

/* Should work for 320x 568, I want my site to break at 480px, if required I may change 320 to 480 */
@media only screen and (max-width: 480px) {
    body {
        grid-template-columns: 1fr 44vw 44vw 1fr;
        grid-template-rows: 20vw repeat(1, auto) 50vw;
        grid-column-gap: 4vw;
        grid-row-gap: 8vw;
        grid-template-areas:
            ". nav nav ."
            ". heroimage heroimage ."
            ". bigtitle bigtitle ."
            ". intro intro ."
            ". image2 image2 ."
            ". problem problem ."
            ". image3 image3 ."
            ". solution solution ."
            ". ia ia ."
            ". image4 image4 ."
            ". wireframe wireframe ."
            ". image5 image5 ."
            ". styleguide styleguide ."
            ". image6 image6 ."
            ". image7 image7 ."
            "footer footer footer footer";
    }

    .intro p {
        width: 70vw;
        font-weight: 500;
        color: #888;
    }

    /* TOP SECTION */
    nav {
        padding: 5.7vw;
    }

    .rightnav {
        width: 13vw;
        height: 8vw;
        font-size: 3vw;
        flex-direction: column;
        align-items: flex-end;
    }

    .logo {
        width: 40vw;
        filter: drop-shadow(0px 1px 1px #aaa);
    }

    /* MIDDLE SECTION */
    .bigtitle {
        font-size: 10vw;
    }

    .intro aside {
        padding-left: 0px;
    }

    .heroimage{
        height: 600px;
        object-fit:cover;

    }


    /* BOTTOM SECTION */

    .foot h1 {
        font-size: 7vw;
    }

    .foot {
        width: 88.6vw;
        height: 22vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .socialmedia {
        width: 40vw;
    }

    .insta,
    .behance,
    .linkedin {
        width: 7vw;
    }

    .behance {
        width: 10vw;
    }


    /*creative go back to top button*/
    .tassel {
        width: 20px;
        right: 3vw;
    }

    .tassel div img {
        left: 7px;
        top: -5px;
    }

    .rope {
        width: 6px;
        right: 3vw;
    }

}
