/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}


/**************
Your Formatting
***************/

#yourgrid {
    display: grid;
    width: 100vw;
    grid-template-areas: "header""nav""article""aside""footer";
    grid-template-rows: 75px 30px auto auto 30px;
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#extracredit{
    display:none;
}



@media only screen and (min-width: 1000px) {
    #yourgrid {
        width: 90vw;
        min-height: 100vh;
        grid-template-areas: "header header"
            "nav nav"
            "aside article"
            "extra article"
            "footer footer";
        grid-template-rows: 75px 30px 1fr 2fr 50px;
        grid-template-columns: 1fr 2fr;
        margin: auto;
    }
}

#extracredit{
    display: inline-block;
    grid-area: extra;
}



header,
footer {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    background-color: lightcyan;
    z-index: -1;
}

aside{
    background-color: lightblue;
    z-index: -1;
}

#extracredit{
    grid-area: extra;
    background-color: lightblue;
}

nav{
    background-color: lavenderblush;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainmenu{
    background-color: #ccc;
    width:6rem;
    text-align: center;
}

.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #ddd;

}

.submenu li {
    padding-left: .25em;
    background: #ddd;
}


