*{box-sizing:border-box;}

/* Minimalistic style */

body{
    background-color: beige; /* Set background of the page to beige */
}

div, article{
    max-width: 720px; /* width maxed out at 360px when browser frame expand beyond that size */
    background-color: wheat; /* Set background of the section to wheat */
    padding: 20px; /* Set inner border to 40px */
     /* center the section */
    float:left;
    }

article{
    float:none;
    margin:auto;
    overflow:auto;
    }

img.gan{
    border: 10px solid #eee; /* Add full opacity 20px white grey frame around photo */
    max-width: 100%; /* let photo expand beyond the min width */
    
} 

h1{
    margin:10px;
}

h4{
    margin-top:10px;
    margin-bottom:10px;
}

#div2{

}



ul, li {
    list-style-type: none; /* kill dots */
    padding-top:5px;
    padding-left:0px;
    margin-left:0px;

}

ul{
    margin-top:0;
    padding-top:0;
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}

a {
    font-family: verdana; /* make it same as paragraph font */
    font-size: 11px; /* make it a little bigger than p font */
}

/* default */
a:link {
    text-decoration: none; /* kill underline */
    color: saddlebrown;
}

a:visited {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

/* click on */
a:active {
    text-decoration: underline;
}
