@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

/****************************************************/

/* GENERAL RESET */

/****************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

article,
section,
div,
footer,
header,
nav {
    display: block;
}

html {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/****************************************************/

/* TOP SECTION */

/****************************************************/

nav {
    max-width: 1200px;
    margin: auto;
    padding: 38px;
}

.logo {
    width: 175px;
}

nav a:nth-child(n+2) {
    font-size: 14px;
    float: right;
    margin: 10px;
    margin-left: 40px;
}

header {
    max-width: 1000px;
    margin: auto;
    padding: 38px;
    margin-top: 50px;
    color: white;
    font-weight: 900;
    text-align: center;
}

#ayee {
    font-size: 36px;
}

#visualandmotion {
    padding-top: 15px;
    font-size: 170px;
    line-height: 170px;
}

/****************************************************/

/* MIDDLE SECTION */

/****************************************************/

section {
    margin-top: 50px;
    max-width: 1162px;
    margin: auto;
    overflow: hidden;
}

.project1,
.project2,
.project3,
.project4 {
    max-width: 1162px;
    margin: auto;
    position: relative;
    margin-top: 75px;
}

.project1pic,
.project2pic,
.project3pic,
.project4pic {
    width: 100%;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
}

.project1 h1,
.project2 h1,
.project3 h1,
.project4 h1 {
    font-size: 60px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 40px;
}

.project2 {
    max-width: 554px;
    float: left;
}

.project3 {
    max-width: 554px;
    float: right;
}

.project2pic,
.project3pic {
    height: 775px;
}

.project3 h1 {
    color: black;
}


.project4 {
    float: left;
}

.project4pic {
    width: 1162px;
    height: 300px;
    object-fit: cover;

}

/****************************************************/

/* BOTTOM SECTION */

/****************************************************/

.abovefooter {
    position: relative;
    margin-top: 100px;
}

.setMeeting {
    max-width: 500px;
    margin: 0px 0px 30px 150px;
}

.backtotop {
    max-width: 100px;
    position: absolute;
    right: 0px;
    bottom: 50px;
}

footer {
    height: 126px;
    background-color: white;
}

.foot {
    margin: auto;
    max-width: 1200px;
    padding: 40px;

}

.foot h1 {
    float: left;
}

.insta,
.behance,
.linkedin {
    width: 33px;
    float: right;
    margin-left: 30px;

}

.behance {
    margin-top: 5px;
    width: 42px;
}


/****************************************************/

/* RESPONSIVE */

/****************************************************/

@media screen and (max-width: 36rem) {
